/IMG-20230406-WA0029.jpg
/index.html
/IvanGonzalez_Dataanalysis.py
/IvanGonzalez_Shoppingcart.py
/Ivan_Gonzalez_Adventuregame.py
/Ivan_Gonzalez_Cleverstories.py
/Ivan_Gonzalez_Mealprice.py
/Ivan_Gonzalez_Wordpuzzle.py
/life-expectancy.csv
/Mealprice.py
/Metas.png
/WhatsApp Image 2024-10-29 at 5.26.50 PM.jpeg